:root
{
  --font-size-normal:              18px;
  --font-size-code:                15px;
  --font-size-side-dock:           15px;
  --font-size-side-dock-title:     18px;
  --font-size-status-bar:          15px;
  --font-size-h1:                  26px;
  --font-size-h2:                  25px;
  --font-size-h3:                  21px;
  --font-size-h4:                  20px;
  --font-size-h5:                  19px;
  --font-size-h6:                  18px;
  --font-family-editor:            Avenir, Avenir Next, sans-serif;
  --font-family-preview:           Avenir, Avenir Next, sans-serif;
}

.theme-light,
.theme-dark {
  --background-primary: #282a36;
  --background-primary-alt: #44475a;
  --background-secondary: #44475a;
  --background-secondary-alt: #282a36;
  --background-accent: #f8f8f2;
  --background-modifier-border: #f8f8f2;
  --background-modifier-form-field: rgba(0, 0, 0, 0.2);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.5);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-success: #50fa7b;
  --background-modifier-error: #3d0000;
  --background-modifier-error-rgb: 61, 0, 0;
  --background-modifier-error-hover: #470000;
  --background-modifier-cover: rgba(0, 0, 0, 0.6);
  --text-accent: #8be9fd;
  --text-accent-hover: #ffb86c;
  --text-normal: #f8f8f2;
  --text-muted: #8be9fd;
  --text-faint: #6272a4;
  --text-highlight-bg: #6272a4;
  --text-error: #ff79c6;
  --text-error-hover: #ff79c6;
  --text-selection: #6272a4; /* Chromium process this color with alpha channel */
  --text-on-accent: #bd93f9;
  --interactive-normal: #ffb86c;
  --interactive-hover: #998e8e;
  --interactive-accent: #f8f8f2;
  --interactive-accent-rgb: 123, 108, 217;
  --interactive-accent-hover: #6272a4;
  --scrollbar-active-thumb-bg: #44475a;
  --scrollbar-bg: #282a36;
  --scrollbar-thumb-bg: #44475a;
  --green :#50fa7b;
  --blue : #8be9fd;

  --text-title-h1:              #ff5555;
  --text-title-h2:              #ff79c6;
  --text-title-h3:              #50fa7b;
  --text-title-h4:              #bd93f9;
  --text-title-h5:              #f8f8f2;
  --text-title-h6:              #f8f8f2;
  --inline-code:                #bd93f9;
  --code-block:                 #8be9fd;
  --pre-code:                   #44475a;
  --blockquote-border:          #ffb86c;
  --vim-cursor:                 #ff5555;
  --border-color:               #2b2727;
}

/*-------------------------------------*/
/* Dracula theme ref                   */
/* https://draculatheme.com/contribute */
/*-------------------------------------*/
/*      Search the following lines     */
/*     to jump to specific section     */
/*-------------------------------------*/
/* resize-handle and borders           */
/* tags                                */
/* link                                */
/* Cursor                              */
/* basic format in EDITOR and PREVIEW  */
/* Headings - EDITOR and PREVIEW       */
/* Code block in  Preview              */
/* Code block in Editor                */
/* Brackets                            */
/* Blockquote                          */
/* table                               */
/* Checkbox                            */
/* html in editor                      */
/* popover                             */
/* Side panel                          */
/* Internal embedded link in preview   */
/* Graph view                          */
/* settings                            */
/* width of content                    */
/*-------------------------------------*/

/***************************************/
/*  resize-handle and borders          */
/***************************************/

/*vertical resize-handle*/
.workspace-split.mod-vertical > * > .workspace-leaf-resize-handle,
.workspace-split.mod-left-split > .workspace-leaf-resize-handle,
.workspace-split.mod-right-split > .workspace-leaf-resize-handle{
  width: 1px !important;
  background-color: var(--border-color);
}

/*horizontal resize-handle*/
.workspace-split.mod-horizontal > * > .workspace-leaf-resize-handle{
  height: 1px !important;
  background-color: var(--border-color);
}

/*workspace ribbon when collapsed*/
.workspace-ribbon.is-collapsed {
  background-color: var(--background-primary-alt);
}

/*the vertical split*/
.workspace-split.mod-root .workspace-split.mod-vertical .workspace-leaf-content,
.workspace-split.mod-vertical > .workspace-split,
.workspace-split.mod-vertical > .workspace-leaf,
.workspace-tabs{
  padding-right: 0px;
}

/*status-bar*/
.status-bar{
  font-size: var(--font-size-status-bar);
  background-color: var(--background-secondary-alt);
  border-top: 0px;
}

.document-search-container{
  border-top: 0px;
  border-right: 0px;
  z-index: inherit;
}
.document-search-close-button {
    color: var(--green);
}

.workspace-ribbon.mod-left.is-collapsed{
  border-right: 1px solid var(--border-color);
}

.workspace-ribbon.mod-right.is-collapsed{
  border-left: 1px solid var(--border-color);
}

.workspace-ribbon-collapse-btn {
  color: var(--green);
}

.titlebar-inner {
  color: var(--text-normal);
}

.side-dock-collapsible-section-header-indicator {
  color: #8be9fd;
}

.nav-action-button{
  color: var(--green);
}

.nav-folder-collapse-indicator{
  color: var(--blue);
}

.modal-close-button{
  color: var(--green);
}

.vertical-tab-header-group-title{
  color: var(--text-title-h1);
  font-weight: 600;
}

.setting-item-name {
  color: var(--text-normal);
  font-size: 16px;
}

.setting-item-description{
  color: var(--text-normal);
}

.vertical-tab-nav-item.is-active {
  border-left-color: var(--text-accent);
}

.vertical-tab-content-container{
  background-color: var(--background-primary);
}
.horizontal-tab-content, .vertical-tab-content {
  background-color: var(--background-primary);
  padding: 5px 30px;
}

.vertical-tab-header{
background-color: var(--background-secondary);
}

.vertical-tab-nav-item{
background-color: var(--background-secondary);
}

.horizontal-tab-nav-item.is-active, .vertical-tab-nav-item.is-active {
  background-color: var(--background-primary);
}

.checkbox-container {
  background-color: var(--background-secondary);
}

.checkbox-container.is-enabled {
  background-color: var(--text-faint);
}

.collapsible-item-collapse{
 color: var(--blue);
}

.graph-controls-button{
  color: var(--green);
}

.graph-controls{
  background-color : var(--background-primary);
}

.graph-controls .setting-item-name {
    font-size: 14px;
    color: var(--text-normal);
    display: inline-block;
}

.graph-controls .graph-control-search-button {
    padding: 0 8px;
    margin: 0 0 0 6px;
    line-height: 100%;
    display: none;
    background-color: var(--background-secondary);
    color: var(--text-normal);
}

.graph-controls-currently-searching{
  color : var(--text-accent);
}

.workspace-tab-header-inner-icon{
  cursor : pointer;
}

.view-action{
  color: var(--green);
}

.view-header-icon{
  color: var(--green);
}

.workspace-tab-header.is-active {
    background-color: var(--background-secondary);
    color: var(--green);
}

.vertical-tab-nav-item.is-active {
    border-left-color: var(--interactive-normal);
}

.dropdown{
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%238be9fd%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%238be9fd%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

button.mod-cta {
    background-color: var(--background-secondary);
    color: var(--text-normal);
}

button {
  color: var(--text-normal);
  background-color: var(--background-primary);
}

.document-search-button {
  color: var(--text-normal);
}

.CodeMirror-guttermarker-subtle{
  color : var(--text-muted);
}

input[type='range'] {
  background-color: var(--background-secondary);
}

/*************************************/
/*                tags               */
/*************************************/

/* Tag hover in preview */
a.tag:hover {
  color: var(--text-accent) !important;
}

/* Tag Color in editor and preview*/
.cm-hashtag, a.tag {
  color: var(--text-accent-hover) !important;
  text-decoration: none !important;
  font-style: normal !important;
}

hr{
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
}

/*********************************/
/*             link              */
/*********************************/

/* link */
a,
.internal-link,
.cm-hmd-internal-link,
.cm-link,
.cm-formatting-link,
.cm-url {
  text-decoration: none !important;
}

/* the url string in editor */
.cm-s-obsidian span.cm-string{
  color: var(--text-accent-hover) !important;
}

/* make external links italics to differentiate */
a:not(.internal-link) {
  font-style: italic;
}

/*footnote*/
.cm-s-obsidian pre.HyperMD-footnote span.cm-hmd-footnote,
.cm-s-obsidian span.cm-footref {
  color: var(--text-accent) !important;
}

/***************************************/
/*                Cursor               */
/***************************************/

/* Cursor color and opacity */

.cm-fat-cursor .CodeMirror-cursor, .cm-animate-fat-cursor
 {
  width: 0.5em;
  background: var(--vim-cursor);
  opacity: 60% !important;
}

/**************************************/
/* basic format in EDITOR and PREVIEW */
/**************************************/

.hideMe {
  display: none;
}

/* font for everything outside of editor/preview panes */
.app-container {
  font-family: var(--font-family-preview);
}

/* set the text selection color for preview mode */
::selection {
  background-color: var(--text-selection);
}

/* normal text outside of headings and code of editor */
.cm-s-obsidian, .mod-single-child .cm-s-obsidian {
  font-family: var(--font-family-editor);
  font-size: var(--font-size-normal);
}

/* normal text outside of headings and code of preview */
.markdown-preview-view, .mod-single-child .markdown-preview-view {
  font-family: var(--font-family-editor);
  font-size: var(--font-size-normal);
  padding-top: 0px;
  padding-left: 2% !important;
  padding-right: 1% !important;
}

/* bold in preview and editor */
strong, .cm-strong {
  font-weight: 600;
  color: #bd93f9;
}

/* emphasis in preview and editor */
em, .cm-em {
  color: var(--text-normal);
  font-style: italic;
}

/* strikethrough in preview and editor */
s, .cm-strikethrough {
  color: var(--text-normal);
}

/* list in editor */
.cm-s-obsidian span.cm-formatting-list {
  color: var(--text-normal) !important;
}

/* horizontal line in preview */
.markdown-preview-view hr {
  background-color: var(--text-faint) !important;
}

/* embedded images */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: solid 3px;
  border-color: var(--background-primary);
}
/* img hover zoom out img*/
img:hover {
  border-color: var(--text-accent);
}

.community-theme img:hover{
  transform: none;
}

/*********************************/
/* Headings - EDITOR and PREVIEW */
/*********************************/


/* headings for editor and preview */
.cm-header-1, .markdown-preview-view h1
{
  font-family: var(--font-family-editor);
  font-weight: 500;
  font-size: var(--font-size-h1);
  color: var(--text-title-h1);
}

.cm-header-2, .markdown-preview-view h2
{
  font-family: var(--font-family-editor);
  font-weight: 500;
  font-size: var(--font-size-h2);
  color: var(--text-title-h2);
}

.cm-header-3, .markdown-preview-view h3
{
  font-family: var(--font-family-editor);
  font-weight: 500;
  font-size: var(--font-size-h3);
  color: var(--text-title-h3);
}

.cm-header-4, .markdown-preview-view h4
{
  font-family: var(--font-family-editor);
  font-weight: 500;
  font-size: var(--font-size-h4);
  color: var(--text-title-h4);
}

.cm-header-5, .markdown-preview-view h5
{
  font-family: var(--font-family-editor);
  font-weight: 500;
  font-size: var(--font-size-h5);
  color: var(--text-title-h5);
}

.cm-header-6, .markdown-preview-view h6
{
  font-family: var(--font-family-editor);
  font-weight: 500;
  font-size: var(--font-size-h6);
  color: var(--text-title-h6);
}

/***************************************/
/*         Code block in  Preview      */
/***************************************/

/* code blocks in preview */
pre code {
  font-family: 'Courier New', Courier, monospace !important;
  font-size: var(--font-size-code) !important;
  padding: 6px !important;
  line-height: normal;
  display: block;
  color: var(--code-block)  !important;
}

/* padding of code blocks in preview */
.markdown-preview-view pre {
  padding: 0px !important;
}

/* font-size of in-line block for preview */
.markdown-preview-view code
{
  font-size: var(--font-size-code);
}

/* remove the shadow that typically affect light mode */
.theme-dark code[class*="language-"],
.theme-dark pre[class*="language-"],
.theme-light code[class*="language-"],
.theme-light pre[class*="language-"]
{
    text-shadow: none !important;
    color: var(--text-faint) !important;
    background-color: var(--pre-code);
}

/***************************************/
/*              Brackets               */
/***************************************/

.cm-s-obsidian span.cm-formatting-link {
  color: var(--text-accent) !important;
}

/***************************************/
/*             Blockquote              */
/***************************************/

/* for editor */
.cm-quote {
  color: var(--text-normal) !important;
  font-style: italic;
}

/* for preview */
.markdown-preview-view blockquote {
  background-color: var(--pre-code);
  border: 0px solid;
  border-color: var(--blockquote-border) !important;
  border-left-width: 4px !important;
  border-radius: 0 8px 8px 0;
  line-height: 1.5em;
  margin: 0 10px;
  font-style: italic;
}

/***************************************/
/*             table                   */
/***************************************/

th {
  font-weight: 800 !important;
}

.markdown-preview-view th {
    font-weight: 800;
    background-color: var(--background-secondary) !important;
}

thead {
  border-bottom: 3px solid var(--background-modifier-border);
}

.table {
  padding: 4px;
  line-height: normal;
  display: block;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

/***************************************/
/*               Checkbox              */
/***************************************/

.markdown-preview-view .task-list-item-checkbox:checked::before {
  content: '✓';
  position: absolute;
  color: var(--text-accent);
  font-size:1em;
  line-height: 1.25em;
  width:1.2em;
  text-align:center;
  text-shadow: 0 0 0.1em var(--text-accent);
}

.markdown-preview-view .task-list-item-checkbox {
  -webkit-appearance: none;
  top: 0.2em !important;
  right: 4px;
  box-sizing: border-box;
  border: 1px solid  var(--text-normal);
  position: relative;
  width: 1.25em;
  height: 1.25em;
  margin: 0;
  box-shadow: 0 0 0.1em var(--text-normal);
}

/***************************************/
/*              popover                */
/***************************************/

.popover{
  border: 1px solid var(--border-color);
  background-color: var(--background-secondary);
}


/***************************************/
/*            Side panel               */
/***************************************/

/* search result in backlink or file search */
.search-result-file-title {
  font-size: 15px ;
}

.search-result-file-matches, .search-empty-state {
  font-size: var(--font-size-side-dock);
  color : var(--text-accent-hover)
}

/*decrease the spacing between result items*/
.search-result-file-title,
.search-result-file-match {
  padding: 0px 10px;
}

.search-result-count{
  color : var(--text-normal);
}

.nav-file-title, .nav-folder-title {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  color: var(--text-normal);
}

/*backlink pane*/
.workspace-leaf-content[data-type="backlink"] .view-content{
  background-color: var(--background-secondary);
}

.workspace-leaf-content[data-type="tag"] .tag-pane-tag-count,
.workspace-leaf-content[data-type="tag"] .tag-pane-tag-text {
  font-size: var(--font-size-side-dock);
}

.workspace-leaf-content[data-type="backlink"] .search-result-file-matches {
  font-size: var(--font-size-side-dock);
}

.side-dock-ribbon-tab, .side-dock-ribbon-action {
  color: var(--green);
  text-align: center;
  cursor: pointer;
  stroke-width: 2px;
}


/***************************************/
/* internal embedded link in preview   */
/***************************************/

/* Naked Embeds */
.markdown-embed-title { display: none; }
.markdown-preview-view .markdown-embed-content>:first-child { margin-top: 0; }
.markdown-preview-view .markdown-embed-content>:last-child { margin-bottom: 0; }
/*remove the following two line, you will get border and scroll*/
.markdown-preview-view .markdown-embed { border:none; padding:0; margin:0; }
.markdown-preview-view .markdown-embed-content
{
  max-height: unset;
  background-color: var(--background-secondary);
}

/* the link on the top right corner*/
.markdown-embed-link {
color: var(--text-faint) !important;
}

.markdown-embed-link:hover {
color: var(--text-accent) !important;
}

/***************************************/
/*             graph view              */
/***************************************/
.graph-view.color-circle,
.graph-view.color-fill-highlight,
.graph-view.color-line-highlight
{
  color: var(--text-accent) !important;
}

.graph-view.color-text
{
  color: var(--text-normal) !important;
}

.graph-view.color-line {
  color: #6272a4;
}

.graph-view.color-fill{
  color: var(--text-normal);
}

.workspace-leaf-content[data-type = "graph"] .view-content{
  background-color: var(--background-primary);
}

.menu-item-icon{
  color: var(--green);
}

/***************************************/
/*            settings                 */
/***************************************/

.modal.mod-settings button:not(.mod-cta):hover {
  background-color: var(--interactive-accent-hover);
}

/***************************************/
/*           width of content          */
/***************************************/

.markdown-source-view.is-readable-line-width .CodeMirror {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.markdown-preview-view.is-readable-line-width .markdown-preview-section {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

/**************************************/
/*  note header bar for non-andy mode */
/*        activated in dark mode      */
/**************************************/

/* header */

.theme-dark .view-header {
  background-color: var(--background-primary) !important;
  border-top: 1px solid var(--border-color) !important;
  border-bottom: 1px solid var(--border-color) !important;
}

.theme-dark .view-header-title-container:after {
  background: linear-gradient(to bottom, transparent, var(--background-primary)) !important;
}

.theme-dark .workspace-leaf.mod-active .view-header {
  background-color: var(--background-secondary-alt) !important;
  border-top: 0px !important;
  border-bottom: 3px solid var(--interactive-accent) !important;
}

.workspace-leaf.mod-active .view-header-title-container:after {
  background: linear-gradient(to bottom, transparent, var(--background-secondary-alt)) !important;
}

.workspace-leaf.mod-active .view-header-title,
.workspace-leaf.mod-active
{
  color: var(--background-modifier-border);
}

.view-header-title{
  color: var(--text-faint);
}

/* shift sticky position, so titles will stack up to the left */
/* This will currently stack to a maximum of 10 before resetting */
.theme-light .mod-root.workspace-split.mod-vertical > div:nth-child(10n-8) { left: calc(var(--sticky-left) * 0); }
.theme-light .mod-root.workspace-split.mod-vertical > div:nth-child(10n-7) { left: calc(var(--sticky-left) * 1); }
.theme-light .mod-root.workspace-split.mod-vertical > div:nth-child(10n-6) { left: calc(var(--sticky-left) * 2); }
.theme-light .mod-root.workspace-split.mod-vertical > div:nth-child(10n-5) { left: calc(var(--sticky-left) * 3); }
.theme-light .mod-root.workspace-split.mod-vertical > div:nth-child(10n-4) { left: calc(var(--sticky-left) * 4); }
.theme-light .mod-root.workspace-split.mod-vertical > div:nth-child(10n-3) { left: calc(var(--sticky-left) * 5); }
.theme-light .mod-root.workspace-split.mod-vertical > div:nth-child(10n-2) { left: calc(var(--sticky-left) * 6); }
.theme-light .mod-root.workspace-split.mod-vertical > div:nth-child(10n-1) { left: calc(var(--sticky-left) * 7); }
.theme-light .mod-root.workspace-split.mod-vertical > div:nth-child(10n+0) { left: calc(var(--sticky-left) * 8); }
.theme-light .mod-root.workspace-split.mod-vertical > div:nth-child(10n+1) { left: calc(var(--sticky-left) * 9); }

/* now it's time for the fancy vertical titles */

/* first we'll add a bit of gap for the title to sit inside of */
.theme-light .workspace-leaf-content {
  padding-left: var(--sticky-left);
  position: relative;
}

/* this is where the magic happens */
.theme-light .view-header {
  writing-mode: vertical-lr;
  border-right: 1px solid var(--border-color);
  border-left: 0px !important;
  border-top: none;
  border-bottom: none;
  height: auto;
  width: 36px;
  position: absolute;
  left:0;
  top:0;
  bottom:0;
  background-color: var(--background-primary) !important;
}

/* fix the long-title-obscuring shadows */
.theme-light .view-header-title-container:after {
  width: 100%;
  height: 30px;
  top:unset;
  bottom: 0;
  background: linear-gradient(to bottom, transparent, var(--background-primary))!important;
}

/* unset the title container height and swap padding */
.theme-light .view-header-title-container {
  height: unset;
  padding-left: unset;
  padding-top: 5px;
}

/* active titles have different border colours */
.theme-light .workspace-leaf.mod-active .view-header {
  background-color: var(--background-secondary-alt) !important;
  border-right: 3px solid var(--interactive-accent) !important;
  border-left: 0px;
  border-bottom: none;
}

/* swap the padding/margin around for the header and actions icons */
.theme-light .view-header-icon, .theme-light .view-actions {
  padding: 10px 5px;
}
.theme-light .view-action {
  margin: 8px 0;
}

/* get rid of the gap left by the now-missing horizontal title */
.theme-light .view-content {
  height: 100%;
}

/* make the fake drop target overlay have a background so you can see it. */
/* TODO: figure out how the fake target overlay works so we can put the title back, too */
.theme-light .workspace-fake-target-overlay {
  background-color: var(--background-primary);
}

/*preview padding too small*/
.theme-light .markdown-preview-view, .theme-light .mod-single-child .markdown-preview-view {
  font-family: var(--font-family-editor);
  font-size: var(--font-size-normal);
  padding-top: 5px;
  padding-left: 4% !important;
  padding-right: 2% !important;
}

/***************************************/
/*    at a rule line before ul list    */
/***************************************/

ul ul { position: relative; }
ul ul::before {
  content:'';
  border-left: 1px solid var(--border-color);
  position: absolute;
}
ul ul::before { left: -1em; top: 0; bottom: 0; }

/* rule line when there are checkboxes*/
ul .task-list-item ul::before {left: 0.15em !important}

/***************************************/
/*       Code block in Editor          */
/***************************************/

/* in-line block for editor */
.cm-s-obsidian span.cm-inline-code,
.cm-s-obsidian span.cm-inline-code.cm-hmd-indented-code,
.cm-s-obsidian span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code)
{
  background-color: var(--pre-code-bg);
  color: var(--inline-code) !important;
  bottom: 0px !important;
}

 /* Editor CodeBlock TEXT Appearance */
.cm-s-obsidian pre.HyperMD-codeblock {
  font-family: monaco !important;
  font-size: var(--font-size-code) !important;
  padding: 1px !important;
  display: block;
  color: var(--code-block) !important;
  font-weight: 500;
}

/*remove the border of codeblock in editor */
.HyperMD-codeblock-bg{
  border: 0px !important;
}

/*an active line highlight in vim normal mode
.cm-fat-cursor .CodeMirror-activeline .CodeMirror-linebackground{
  background-color: var(--text-selection) !important;
} */

/* in-line block for preview */
code{
  color: var(--inline-code) !important;
  bottom: 0px !important;
}

/* graph css  */
.theme-dark .graph-view.color-arrow {
  color: #50fa7b;
}

.theme-dark .graph-view.color-fill-tag {
  color: #ffb86c;
}

.theme-dark .graph-view.color-fill-attachment {
  color: #ff5555;
}

.theme-dark .graph-view.color-fill-unresolved {
  color: #6272a4;
}

.search-result-collapse-indicator {
  position: absolute;
  left: 0;
  top: -3px;
  color: var(--blue);
  transition: transform 100ms ease-in-out;
  padding: 0px  !important;
}